body {
  margin:0;
  padding:0;
  cursor:default;
  user-select:none;
  background:#AEDEFC;
  font-family:sans-serif;
}

#header {
  width:100%;
  height:66px;
  display:flex;
  justify-content:space-around;
  padding:.1px;
  background:#208AAE;
  box-sizing:border-box;
  align-items:center;
  gap:64%;
}

#header .historyp {
  margin:0;
  padding-top:1%;
  padding-bottom:1%;
  color:#FFFFFF;
  margin-left:2%;
  font-size:27px;
}

#header .back {
  font-size:22px;
  color:white;
  margin:0;
  cursor:pointer;
}




.historyList {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

#historyListBox {
  padding:1.5%;
  border:1px solid #D1D5DB;
  width:82.9%;
  margin-left:7%;
  margin-right:7%;
  border-radius:10px;
  margin-top:2%;
  margin-bottom:2%;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
  background:white;
  max-height:600px;
  mix-height:100px;
  height:auto;
  overflow-y:auto;
}

.historyInfo {
    display: flex;
    justify-content: space-between;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 10px;
    margin: 8px;
    width: 95%;
    box-shadow: 0 0 4px rgba (0,0,0, 0.2);
    background-color: #f9fafb;
    font-size: 16px;
    color: #1f2937;
}

.noHistory {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
