body {
  margin:0;
  padding:0;
  cursor:default;
  user-select:none;
  background:#F3F4F6;
  font-family:sans-serif;
}

#header {
  width:100%;
  height:66px;
  display:flex;
  justify-content:space-around;
  padding:.1px;
  background:#208AAE;
  box-sizing:border-box;
  align-items:center;
  gap:64%;
}


#header .residentp {
  margin:0;
  padding-top:1%;
  padding-bottom:1%;
  color:#FFFFFF;
  margin-left:2%;
  font-size:27px;
}

#header #back {
  font-size:22px;
  color:white;
  margin:0;
  cursor:pointer;
}



#date_complain{
text-transform: none;
}

.report-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.report-box {
  width: 95%;
  max-width: 1200px;
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #e2e8f0;
}

.report-box h3 {
  margin-top: 0;
  color: #1e293b;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
label {
  font-weight: 600;
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 3px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: none;
}

.triple-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.double-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.submit-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  background-color: #208AAE;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #122b5c;
}

@media (max-width: 900px) {
  .form-layout {
    grid-template-columns: 1fr;
  }

}
#Footer {
  height:31px;
  width:100%;
  background:#4B5563;
}