<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>B.R.I.S Login</title>
    <link rel="stylesheet" th:href="@{/Css/forgotpassword.css}">
    <link rel = "icon" th:href="@{/Images/Logo.png}">


</head>
<body>
<div class="LoginPage">
    <div class="intro">
        <h3>Barangay Residents Information System</h3>
        <h5>Forgot Password</h5>
        <h5>Enter Email Account to send Confirmation</h5>
    </div>


    <form id="forgotPasswordForm" th:action="@{/forgotpassword}" method="post">
        <label for="gmail_account">Email Address:</label>
        <input type="email" id="gmail_account" name="gmail_account" placeholder="Enter your email account" required/><br><br>


        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        <p th:if="${success}" th:text="${success}" style="color:green;"></p>

        <button type="submit">Send Confirmation Email</button>
        <br>
        <br>
        <a id="loginforgot" href="/login">Go Back to Login</a>
    </form>






</div>
</body>
</html>
