<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/Css/resetpassword.css}">
    <link rel = "icon" th:href="@{/Images/Logo.png}">


</head>
<body>
<div class="SignUpPage">
    <div class="intro">
        <h3>Barangay Residents Information System</h3>
        <h5>Enter New Password</h5>
    </div>

    <form id="signupForm" th:action="@{/resetpassword}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password"/><br>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm" placeholder="Re-enter your password"/><br>


        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        <button type="submit" >Change Password</button>



    </form>

    <script th:src="@{Js/resetpassword.js}"></script>
</div>
</body>
</html>
